* {
    margin: 0%;
    padding: 0%;
    box-sizing: 0%;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadrado{
    width: 200px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    background-color: black;
    border-radius: 75px;
}

    .circulo1{
        width: 150px;
        height: 150px;
        background-color: red;
        border-radius: 100%;
        box-shadow: 0 4px 10px #ff0000;
    }

    .circulo2{
        width: 150px;
        height: 150px;
        background-color: yellow;
        border-radius: 100%;
        box-shadow: 0 4px 10px #ffff00;
       }

    .circulo3{
        width: 150px;
        height: 150px;
        background-color: greenyellow;
        border-radius: 100%;
        box-shadow: 0 4px 10px #00ff00;
       }